<%- include("partials/header") %>

<div class="text-center mt-5">
  <h1>Assignment Tracker</h1>
  <p class="lead">Track your assignments easily.</p>
  <a href="/assignments" class="btn btn-primary">View Assignments</a>
</div>


<%- include("partials/footer") %>
