<%- include("../partials/header") %>

<h1>Add Assignment</h1>

<a href="/assignments" class="btn-table">← Back</a>
<br><br>


<div class="form-box">
<form action="/assignments" method="POST">

    <label>Title</label>
    <input type="text" name="title" required />

    <label>Course</label>
    <input type="text" name="course" required />

    <label>Due Date</label>
    <input type="date" name="dueDate" required />

    <label>Description</label>
    <textarea name="description"></textarea>

    <button class="btn-simple">Create</button>
</form>
</div>

<%- include("../partials/footer") %>
